@import '@fontsource-variable/montserrat';

$white: #FFF;
$black: #000000;

$bg-gradient: rgb(26, 26, 26, 0.6);

$main-font: 'Montserrat Variable',
sans-serif;

$font-size: 18px;

$line-height: 150%;

$max-width: 1480;